{% extends "base.html" %}
{% block title %}Quiz – Scoreboard{% endblock %}
{% block bodyclass %}{% endblock %}
{% block content %}
<div class="board">
  <div class="board-header">
    <div class="round-label" id="roundLabel">Quiz</div>
  </div>
  <div class="board-players" id="players"></div>
  <div class="board-question hidden" id="questionBox">
    <div class="qmeta" id="qmeta"></div>
    <div class="qtext" id="qtext"></div>
    <div class="answers" id="answers"></div>
  </div>
  <div class="board-idle" id="idleBox">Bereit machen …</div>
</div>
<script src="/static/js/ws.js"></script>
<script src="/static/js/board.js"></script>
{% endblock %}
